<!DOCTYPE html>
<html>
  <head>
    <link href="/Styles/site.css" rel="stylesheet" type="text/css" />
     <title>Story Time!</title>
  </head>
  <body>
    <header>
        <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
       <%-blocks.footer%>
    </footer>
  </body>
</html>