<!DOCTYPE html>
<html>
  <head>
    <link href="/Styles/site.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Bootstrap/js/bootstrap.min.js"></script>
    <title>Story Time!</title>
  </head>
  <body>
    <header>
    <img src="/Images/strikeaproselogo.png" href="/"/>
        <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
       <%-blocks.footer%>
    </footer>
  </body>
</html>