<html>
    <head>
        <link href="/Styles/site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%= objectId %><br>
        <%= sentences %>
        <table>
            <form method="POST" action="/">
                <input type="text" name="sentence" />
                <input type = "hidden" value = "<%= objectId %>" name="objectId" />
                <input type="submit" value = "Submit"/>
            </form>            
        </table>
    </body>
</html>