<% layout('../Shared/layout') -%>
<form method="POST" action="/">
    <% if(sentences != null && sentences.length != 0){ %>
		<% block('header', "Continue the story") -%>
		<div class="current-story">
			<h2>The last lines of "<%= title %>"</h2>
			<% sentences.forEach(function(sentence){ %>
				<p><%= sentence.text %></p>
			<% }); %>
		</div>
    <% } else { %>
	<% block('header', "Start a story") -%>
	<div class="row-fluid inputwrapper">
		<div class="span12">
			<input class="title-input story-input" type="text" name="title" placeholder = "Give this story a title"/>
		 </div>
	 </div>
    <% } %>
	<div class="row-fluid inputwrapper">
		<div class="span12">
			<input type="text" class="sentence-input story-input"  name="sentence" placeholder = "Add a line to this story" />
			<input type = "hidden" value = "<%= objectId %>" name="objectId" />
		 </div>
	</div>
	<div class="row-fluid inputwrapper">
		<div class="span12">
			<% if(sentences != null && sentences.length != 0){ %>
				<input class="btn btn-info btn-large" name="submit" type="submit" value = "Submit"/>
				<input class="btn btn-danger btn-large" name="submit" type="submit" value = "The End (Closes the story)"/>
			<%} else{ %>
				<input class="btn btn-info btn-large" name="submit" type="submit" value = "Submit"/>				
			<%} %>
		 </div>
	</div>
        
</form>            
    