<% layout('../Shared/layout') -%>

<form method="POST" action="/">
    <% if(sentences != null && sentences.length != 0){ %>
        <ul>
          <% sentences.forEach(function(sentence){ %>
            <li><%= sentence.text %></li>
          <% }); %>
        </ul>
    <% } else { %>    
         <input type="text" name="title" />
    <% } %>
        <input type="text" name="sentence" />
        <input type = "hidden" value = "<%= objectId %>" name="objectId" />
        <input type="submit" value = "Submit"/>
</form>            
    