<html>
    <head>
        <link href="/Styles/site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        Login<br>
        <table>
            <form method="POST" action="/">
                <textarea id="Sentence" name="storyStart" rows="4" cols="40"></textarea>
                <input type="submit" value = "Submit"/>
            </form>            
        </table>
    </body>
</html>