body{
    background-image:url('../Images/linedpaper.png'); 
	margin: 0px;
	font-family: 'Strait', sans-serif;
}

#sap-header{
	text-align:center;
	font-size: 800%;
	min-height: 100px;
	margin-top: 150px;
	margin-bottom: 50px;
	line-height: 100px;
}

.inputwrapper{
	text-align:center;
}

.sentence-input {
	width: 500px;
	padding: 20px !important;
	font-size: 1.8em !important;
}

.story-input::-webkit-input-placeholder {
   padding-top: 5px !important;
   text-align: center;
}

.title-input{
	width: 300px;
	font-size: 1.8em !important;
	padding: 15px 15px 15px 15px !important;
}

.current-story{
	margin-left:auto;
	margin-right:auto;
	width: 540px;
	font-size: 1.2em;
	margin-bottom:50px;
}

.story-list{
	font-size: 1.2em;
	text-align:center;
}

.right-link{
	position: absolute;
	margin-top: 5px;
	right: -4px;
	top: 20px;
	border:2px solid;
	border-color: grey;
}
.right-link  a{	
	margin: 5px;
	margin-right: 10px;
	font-size: 1.2em;
}

google-ad{
	margin-top: 10px;
}
